<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
{% load staticfiles %}
<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <link rel="stylesheet" href="%7B%%20static%20%27style.css%27%20%%7D">
    <title>connecter un professeur</title>
</head>

<body style="color: rgb(0, 0, 0);" alink="#ee0000" link="#0000ee" vlink="#551a8b">
{% load staticfiles %}

<div style="text-align: center; color: rgb(204, 0, 0); background-color: rgb(0, 0, 153);"><big><big><big><span style="color: rgb(255, 255, 255);">Professeur-ESIH</span><br>
    <br>

<span style="color: rgb(255, 255, 255);"> Chercher Innover Entreprendre</span><br>
    <br>



<small style="color: rgb(102, 0, 0);"><span style="color: rgb(255, 255, 255);">Connectez-vous!</span><br>



</small></big></big></big>
<a href=""> </a>
    
<table style="text-align: left; margin-left: auto; margin-right: auto; height: 238px; width: 541px;" border="1" cellpadding="2" cellspacing="2">



  <tbody>



    <tr>



      <td style="background-color: rgb(51, 51, 255);">&nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp;
      <center><img style="width: 100px; height: 112px;" src="{% static 'client1.png' %}" alt=""></center>



      
      <div style="text-align: center;"></div>

    
      <form action="" method="get">

      
      
        <center>

      
        <table style="text-align: left; width: 100px;" border="1" cellpadding="2" cellspacing="2">



        <tbody>



          <tr align="center">



            <td><input name="user" id="user" size="20" maxlength="100" type="text"></td>



          </tr>



          <tr align="center">



            <td><input name="password" id="password" size="20" maxlength="100" type="password"></td>



          </tr>



        
        
          </tbody>
      
      
        </table>



      </center>

    </form>


      
      
      <center><input class="rc-button rc-button-submit" value="Connexion" type="submit" onclick="self.location.href='InterfaceProf.html'" ></center>




      <br>



      
      
      <center style="color: rgb(255, 255, 255);"><a href="../CreationCompte">
		Cr&eacute;er un compte </a> </center>



      </td>



    </tr>



    <tr>



      </tr>



  
  
  </tbody>
</table>



<big><big><big><small style="color: rgb(45, 119, 252);"><br>



<br>



<br>



&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
&nbsp; &nbsp;<br>



<br>



<br>



<br>



<br>



<br>



<br>



<br>



<br>



<br>



<br>



</small></big></big></big><span editable="true" id="zone1"></span></div>



</body>
</html>
