
<!DOCTYPE HTML>
<html>
{% load staticfiles %}
		<head>
		    <meta charset="utf-8" />
			<link rel="stylesheet" href="{% static 'styleOk.css' %}" />
			<title>ESIH</title>
		</head>
	<body>
		
		
		
                    <header>
					
					<center><img src="{% static 'logo.jpg' %}" height= "100" width= "150" alt="Logo de ESIH" />
					<h1>Ecole Supérieure d'Infotronique d'Haiti...</h1>
					</center>
					
					</header>

		<nav>
					<ul   id="menu">

						<li><div><font face="Tahoma"><B><a href="../lcours" class="style1">Lister Cours</a></B></font></li>
					    <li><font face="Tahoma"><B><a href="../CreationCompte" class="style1">Inscrire</a></B></font></li>

					<div align="right"><Table border=0 text="White" >
                    <tr>
	                <td><input type=text name="Recherche"></td>
	                <td><input type="submit" value="OK"></td>
                    </tr>
                    </table>

							</div>
                             </div >


		            </ul>



		</nav>
					
		
		
		 <footer>
					  

<!--<div id="pied">-->
<!--<h1>Rejoignez nous sur</h1>-->
<!--<p><a href="http://www.facebook.com/esihhaiti?fref=ts" title="facebook"><img src="{% static 'face.jpg' %}" alt="Facebook"/ ></a>-->
<!--<a href="http://www.twitter.com" title="twitter"><img src="{% static 'twitter.jpg' %}" height="50" width="50" alt="Twitter" /></a></p>-->
<!--<p><a href="http://www.esih.edu/" title="site de l'ecole">www.esi.edu</a></p>-->
<!--</div>-->


                       <!--<p>Copyright - Tous droits reserves<br /></p>-->
                      </footer>
              
		
	</body>
		
</html>